// Wraps @content to a @media block targeting a specific breakpoint
@mixin breakpoint($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media screen and #{map-get($breakpoints, $breakpoint)} {
			@content;
		}
	}
}

// Remove default list styles
@mixin reset-list() {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;

	> li {
		padding-left: 0;
	}
}
